In [1]:
!pip install tensorflow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tensorflow in c:\users\asus\appdata\roaming\python\python39\site-packages (2.13.0)
Requirement already satisfied: tensorflow-intel==2.13.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (21.3)
Requirement already satisfied: keras<2.14,>=2.13.1 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.3.0)
Requirement already satisfied: numpy<=1.24.3,>=1.22 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.24.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.57.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.2.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.31.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (4.24.1)
Requirement already satisfied: h5py>=2.9.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.7.0)
Requirement already satisfied: six>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.16.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.4.0)
Requirement already satisfied: flatbuffers>=23.1.21 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (23.5.26)
Requirement already satisfied: wrapt>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.14.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (16.0.6)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.6.3)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: tensorboard<2.14,>=2.13 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (63.4.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.4.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (4.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\programdata\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.13.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.0.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.7.1)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.28.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\asus\appdata\roaming\python\python39\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.22.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.0.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.13.0->tensorflow) (3.0.9)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\asus\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (5.3.1)
Requirement already satisfied: urllib3<2.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.26.11)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2022.9.14)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.2.2)

In [2]:
import tensorflow as tf
import pandas as pd

In [3]:
loan = pd.read_csv(r'C:\Users\ASUS\Downloads\personal loan_updated.csv')

In [4]:
loan

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [5]:
loan.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [8]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [9]:

loan_final = loan.drop(columns=['ID','ZIP Code'])

In [10]:
loan_final

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,0,1,1

In [11]:
# Identifying target variable and inputs
y = loan_final[['Personal Loan']]
x = loan_final.drop(columns=['Personal Loan'])

In [12]:
y

      Personal Loan
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
4995              0
4996              0
4997              0
4998              0
4999              0

[5000 rows x 1 columns]

In [13]:
x

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,1,1

In [15]:
loan.shape

(5000, 14)

In [16]:
loan_final.shape

(5000, 12)

In [14]:
from sklearn.model_selection import train_test_split

In [ ]:
 x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=999)

In [22]:
len(x_train),len(x_test),len(y_train),len(y_test)

(4000, 1000, 4000, 1000)

# step 1. iniatilising the model and creating output from it

In [19]:
ann= tf.keras.models.Sequential()

# step 2. creating first hidden layer

In [20]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

# step 3. creating second hidden layer

In [21]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

# step 4. creating the ouyput layer

In [23]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# step 5 compling the model

In [24]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

# step 6 fitting the data

In [25]:
model=ann.fit(x_train,y_train,validation_split=0.2,batch_size=32,epochs=100)

Epoch 1/100
100/100 [==============================] - 3s 10ms/step - loss: 11.6670 - accuracy: 0.4356 - val_loss: 0.6110 - val_accuracy: 0.8500
Epoch 2/100
100/100 [==============================] - 0s 5ms/step - loss: 0.4427 - accuracy: 0.8800 - val_loss: 0.4489 - val_accuracy: 0.8425
Epoch 3/100
100/100 [==============================] - 1s 6ms/step - loss: 0.3550 - accuracy: 0.8791 - val_loss: 0.3769 - val_accuracy: 0.8562
Epoch 4/100
100/100 [==============================] - 1s 5ms/step - loss: 0.3153 - accuracy: 0.8888 - val_loss: 0.3550 - val_accuracy: 0.8575
Epoch 5/100
100/100 [==============================] - 0s 5ms/step - loss: 0.3066 - accuracy: 0.8884 - val_loss: 0.3280 - val_accuracy: 0.8737
Epoch 6/100
100/100 [==============================] - 0s 4ms/step - loss: 0.2869 - accuracy: 0.8934 - val_loss: 0.3768 - val_accuracy: 0.8537
Epoch 7/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2738 - accuracy: 0.8966 - val_loss: 0.3285 - val_accuracy: 0.8775
Epoch 8/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2675 - accuracy: 0.9044 - val_loss: 0.2914 - val_accuracy: 0.8788
Epoch 9/100
100/100 [==============================] - 0s 4ms/step - loss: 0.2557 - accuracy: 0.9034 - val_loss: 0.2701 - val_accuracy: 0.8888
Epoch 10/100
100/100 [==============================] - 0s 4ms/step - loss: 0.2436 - accuracy: 0.9034 - val_loss: 0.2633 - val_accuracy: 0.8913
Epoch 11/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2342 - accuracy: 0.9069 - val_loss: 0.2948 - val_accuracy: 0.8888
Epoch 12/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2326 - accuracy: 0.9081 - val_loss: 0.2626 - val_accuracy: 0.8913
Epoch 13/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2260 - accuracy: 0.9087 - val_loss: 0.2405 - val_accuracy: 0.8888
Epoch 14/100
100/100 [==============================] - 0s 4ms/step - loss: 0.2231 - accuracy: 0.9100 - val_loss: 0.2493 - val_accuracy: 0.8913
Epoch 15/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2205 - accuracy: 0.9084 - val_loss: 0.2396 - val_accuracy: 0.8888
Epoch 16/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2173 - accuracy: 0.9069 - val_loss: 0.2277 - val_accuracy: 0.8950
Epoch 17/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2042 - accuracy: 0.9144 - val_loss: 0.2172 - val_accuracy: 0.8963
Epoch 18/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2065 - accuracy: 0.9116 - val_loss: 0.2221 - val_accuracy: 0.8963
Epoch 19/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2015 - accuracy: 0.9106 - val_loss: 0.2082 - val_accuracy: 0.9013
Epoch 20/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2070 - accuracy: 0.9106 - val_loss: 0.2189 - val_accuracy: 0.8925
Epoch 21/100
100/100 [==============================] - 0s 5ms/step - loss: 0.2049 - accuracy: 0.9125 - val_loss: 0.2120 - val_accuracy: 0.8950
Epoch 22/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1960 - accuracy: 0.9141 - val_loss: 0.2191 - val_accuracy: 0.8988
Epoch 23/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1967 - accuracy: 0.9178 - val_loss: 0.2070 - val_accuracy: 0.8988
Epoch 24/100
100/100 [==============================] - 0s 5ms/step - loss: 0.1929 - accuracy: 0.9166 - val_loss: 0.2039 - val_accuracy: 0.9087
Epoch 25/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1874 - accuracy: 0.9203 - val_loss: 0.1936 - val_accuracy: 0.9050
Epoch 26/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1878 - accuracy: 0.9181 - val_loss: 0.2057 - val_accuracy: 0.8963
Epoch 27/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1895 - accuracy: 0.9216 - val_loss: 0.1920 - val_accuracy: 0.9125
Epoch 28/100
100/100 [==============================] - 0s 5ms/step - loss: 0.1854 - accuracy: 0.9156 - val_loss: 0.2010 - val_accuracy: 0.8975
Epoch 29/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1822 - accuracy: 0.9222 - val_loss: 0.1811 - val_accuracy: 0.9212
Epoch 30/100
100/100 [==============================] - 1s 5ms/step - loss: 0.1827 - accuracy: 0.9191 - val_loss: 0.1848 - val_accuracy: 0.9162
Epoch 31/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1769 - accuracy: 0.9219 - val_loss: 0.1876 - val_accuracy: 0.9125
Epoch 32/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1784 - accuracy: 0.9203 - val_loss: 0.1832 - val_accuracy: 0.9250
Epoch 33/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1756 - accuracy: 0.9244 - val_loss: 0.2090 - val_accuracy: 0.9000
Epoch 34/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1741 - accuracy: 0.9244 - val_loss: 0.1815 - val_accuracy: 0.9137
Epoch 35/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1737 - accuracy: 0.9244 - val_loss: 0.1839 - val_accuracy: 0.9250
Epoch 36/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1761 - accuracy: 0.9272 - val_loss: 0.1887 - val_accuracy: 0.9087
Epoch 37/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1744 - accuracy: 0.9291 - val_loss: 0.1817 - val_accuracy: 0.9237
Epoch 38/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1808 - accuracy: 0.9206 - val_loss: 0.2450 - val_accuracy: 0.8913
Epoch 39/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1762 - accuracy: 0.9281 - val_loss: 0.1847 - val_accuracy: 0.9137
Epoch 40/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1736 - accuracy: 0.9247 - val_loss: 0.1703 - val_accuracy: 0.9225
Epoch 41/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1702 - accuracy: 0.9278 - val_loss: 0.2145 - val_accuracy: 0.9137
Epoch 42/100
100/100 [==============================] - 0s 3ms/step - loss: 0.1710 - accuracy: 0.9259 - val_loss: 0.1723 - val_accuracy: 0.9275
Epoch 43/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1704 - accuracy: 0.9306 - val_loss: 0.1662 - val_accuracy: 0.9212
Epoch 44/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1831 - accuracy: 0.9284 - val_loss: 0.2155 - val_accuracy: 0.9100
Epoch 45/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1680 - accuracy: 0.9281 - val_loss: 0.1675 - val_accuracy: 0.9162
Epoch 46/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1647 - accuracy: 0.9309 - val_loss: 0.1621 - val_accuracy: 0.9237
Epoch 47/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1647 - accuracy: 0.9337 - val_loss: 0.1758 - val_accuracy: 0.9175
Epoch 48/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1664 - accuracy: 0.9322 - val_loss: 0.1801 - val_accuracy: 0.9212
Epoch 49/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1641 - accuracy: 0.9334 - val_loss: 0.1601 - val_accuracy: 0.9250
Epoch 50/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1587 - accuracy: 0.9350 - val_loss: 0.1872 - val_accuracy: 0.9162
Epoch 51/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1620 - accuracy: 0.9325 - val_loss: 0.1880 - val_accuracy: 0.9175
Epoch 52/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1613 - accuracy: 0.9334 - val_loss: 0.1578 - val_accuracy: 0.9250
Epoch 53/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1665 - accuracy: 0.9325 - val_loss: 0.1740 - val_accuracy: 0.9162
Epoch 54/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1619 - accuracy: 0.9325 - val_loss: 0.1582 - val_accuracy: 0.9250
Epoch 55/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1586 - accuracy: 0.9375 - val_loss: 0.1669 - val_accuracy: 0.9212
Epoch 56/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1599 - accuracy: 0.9334 - val_loss: 0.1593 - val_accuracy: 0.9287
Epoch 57/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1597 - accuracy: 0.9344 - val_loss: 0.1560 - val_accuracy: 0.9287
Epoch 58/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1628 - accuracy: 0.9312 - val_loss: 0.1628 - val_accuracy: 0.9337
Epoch 59/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1605 - accuracy: 0.9347 - val_loss: 0.1685 - val_accuracy: 0.9287
Epoch 60/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1542 - accuracy: 0.9388 - val_loss: 0.1613 - val_accuracy: 0.9225
Epoch 61/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1536 - accuracy: 0.9353 - val_loss: 0.1731 - val_accuracy: 0.9237
Epoch 62/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1536 - accuracy: 0.9419 - val_loss: 0.1697 - val_accuracy: 0.9350
Epoch 63/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1574 - accuracy: 0.9356 - val_loss: 0.1653 - val_accuracy: 0.9225
Epoch 64/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1578 - accuracy: 0.9378 - val_loss: 0.1662 - val_accuracy: 0.9200
Epoch 65/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1509 - accuracy: 0.9422 - val_loss: 0.2168 - val_accuracy: 0.9162
Epoch 66/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1569 - accuracy: 0.9350 - val_loss: 0.1542 - val_accuracy: 0.9275
Epoch 67/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1509 - accuracy: 0.9406 - val_loss: 0.1623 - val_accuracy: 0.9275
Epoch 68/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1605 - accuracy: 0.9388 - val_loss: 0.1727 - val_accuracy: 0.9175
Epoch 69/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1485 - accuracy: 0.9422 - val_loss: 0.1665 - val_accuracy: 0.9212
Epoch 70/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1563 - accuracy: 0.9381 - val_loss: 0.1674 - val_accuracy: 0.9262
Epoch 71/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1524 - accuracy: 0.9400 - val_loss: 0.1906 - val_accuracy: 0.9100
Epoch 72/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1509 - accuracy: 0.9391 - val_loss: 0.1531 - val_accuracy: 0.9300
Epoch 73/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1538 - accuracy: 0.9403 - val_loss: 0.1519 - val_accuracy: 0.9262
Epoch 74/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1555 - accuracy: 0.9384 - val_loss: 0.1614 - val_accuracy: 0.9225
Epoch 75/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1549 - accuracy: 0.9344 - val_loss: 0.1761 - val_accuracy: 0.9187
Epoch 76/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1551 - accuracy: 0.9378 - val_loss: 0.1526 - val_accuracy: 0.9300
Epoch 77/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1523 - accuracy: 0.9388 - val_loss: 0.2222 - val_accuracy: 0.9237
Epoch 78/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1496 - accuracy: 0.9409 - val_loss: 0.1504 - val_accuracy: 0.9325
Epoch 79/100
100/100 [==============================] - 0s 5ms/step - loss: 0.1467 - accuracy: 0.9428 - val_loss: 0.1474 - val_accuracy: 0.9325
Epoch 80/100
100/100 [==============================] - 0s 5ms/step - loss: 0.1482 - accuracy: 0.9384 - val_loss: 0.1580 - val_accuracy: 0.9362
Epoch 81/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1443 - accuracy: 0.9441 - val_loss: 0.1514 - val_accuracy: 0.9262
Epoch 82/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1523 - accuracy: 0.9444 - val_loss: 0.1650 - val_accuracy: 0.9287
Epoch 83/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1485 - accuracy: 0.9444 - val_loss: 0.1488 - val_accuracy: 0.9262
Epoch 84/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1477 - accuracy: 0.9441 - val_loss: 0.1646 - val_accuracy: 0.9325
Epoch 85/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1488 - accuracy: 0.9397 - val_loss: 0.1530 - val_accuracy: 0.9312
Epoch 86/100
100/100 [==============================] - 0s 5ms/step - loss: 0.1488 - accuracy: 0.9428 - val_loss: 0.1540 - val_accuracy: 0.9275
Epoch 87/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1444 - accuracy: 0.9450 - val_loss: 0.1498 - val_accuracy: 0.9287
Epoch 88/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1539 - accuracy: 0.9400 - val_loss: 0.1517 - val_accuracy: 0.9275
Epoch 89/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1438 - accuracy: 0.9428 - val_loss: 0.1467 - val_accuracy: 0.9275
Epoch 90/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1451 - accuracy: 0.9419 - val_loss: 0.1480 - val_accuracy: 0.9287
Epoch 91/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1450 - accuracy: 0.9416 - val_loss: 0.1589 - val_accuracy: 0.9287
Epoch 92/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1480 - accuracy: 0.9416 - val_loss: 0.1503 - val_accuracy: 0.9300
Epoch 93/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1455 - accuracy: 0.9403 - val_loss: 0.1505 - val_accuracy: 0.9325
Epoch 94/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1418 - accuracy: 0.9469 - val_loss: 0.1543 - val_accuracy: 0.9287
Epoch 95/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1426 - accuracy: 0.9425 - val_loss: 0.1462 - val_accuracy: 0.9287
Epoch 96/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1475 - accuracy: 0.9431 - val_loss: 0.1815 - val_accuracy: 0.9162
Epoch 97/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1457 - accuracy: 0.9431 - val_loss: 0.1475 - val_accuracy: 0.9350
Epoch 98/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1391 - accuracy: 0.9450 - val_loss: 0.1534 - val_accuracy: 0.9250
Epoch 99/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1449 - accuracy: 0.9434 - val_loss: 0.1464 - val_accuracy: 0.9337
Epoch 100/100
100/100 [==============================] - 0s 4ms/step - loss: 0.1440 - accuracy: 0.9453 - val_loss: 0.1493 - val_accuracy: 0.9388

# values of accuracy and validation accuracy should be minumum -----that is called good model and also of acuuracy score

# prediction on test data

In [26]:
y_test['Prediction'] = ann.predict(x_test)

32/32 [==============================] - 0s 3ms/step

In [27]:
y_test['Prediction'] = y_test["Prediction"]>0.5
y_test.head()

      Personal Loan  Prediction
3581              0       False
3035              0       False
2455              1        True
3014              0       False
3114              0       False

In [28]:
y_test['Prediction'] = y_test['Prediction'].astype('int')
y_test.head()

      Personal Loan  Prediction
3581              0           0
3035              0           0
2455              1           1
3014              0           0
3114              0           0

In [29]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [30]:
print(accuracy_score(y_test['Personal Loan'],y_test['Prediction']))

0.943

In [31]:
print(confusion_matrix(y_test['Personal Loan'],y_test['Prediction']))

[[871  23]
 [ 34  72]]